# Forked&Cloned repos
repos/rclcpp/
repos/rcl/
repos/ros2_documentation/

# Build-related folders
build/
install/
log/
.cache/
.claude/
compile_commands.json

# Extra or temp markdown files
CLAUDE.md
contributing.md
next_steps.md
work/
docs/README.md
